html
  head
    title= title
    script(type='text/javascript', src='//ip.cn/api/index?ip=&type=0')
    script(type='text/javascript').
      window.onload = function(){geoip2.city(function(c){document.querySelector('textarea').innerHTML = "You are browsing from:\n"+ c.address + ", IP:" + c.ip + "." })}

  body
    h1 Azure multi region example
    p Some values from your App Service website
    
    ul
      li
        code= "WEBSITE_HOSTNAME: " + WEBSITE_HOSTNAME
      li
        code= "WEBSITE_RESOURCE_GROUP: " + WEBSITE_RESOURCE_GROUP
      li
        code= "WEBSITE_OWNER_NAME: " + WEBSITE_OWNER_NAME
